<?xml version="1.0" encoding="UTF-8"?>

<configuration scan="true" scanPeriod="60 seconds" debug="false">

	<!-- 定义日志文件存放目录 -->
	<property name="LOG_HOME" value="/logs/jsboot-admin" />

	<!-- 控制台输出样式 -->
	<appender name="Console" class="ch.qos.logback.core.ConsoleAppender">
		<Target>System.out</Target>
		<encoder>
			<pattern>%d{YYYY-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n
			</pattern>
		</encoder>
	</appender>

	<!-- 输出sql执行日志 -->
	<appender name="sqllogFile"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<File>${LOG_HOME}/sqllogFile.log</File>
		<Append>TRUE</Append>
		<encoder>
			<pattern>%d{YYYY-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n
			</pattern>
		</encoder>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${LOG_HOME}/sqllogFile.%d{yyyy-MM-dd}.log
			</fileNamePattern>
			<!-- keep 10 days' worth of history -->
			<MaxHistory>10</MaxHistory>
		</rollingPolicy>
	</appender>


	<!-- 记录开发过程中的DEBUG信息 -->
	<appender name="debug"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<File>${LOG_HOME}/web-debug.log</File>
		<Append>TRUE</Append>
		<encoder>
			<pattern>%d{YYYY-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n
			</pattern>
		</encoder>
		<!-- 只打印INFO -->
		<filter class="ch.qos.logback.classic.filter.LevelFilter">   
	        <level>DEBUG</level>   
	        <onMatch>ACCEPT</onMatch>   
	        <onMismatch>DENY</onMismatch>   
		</filter>   
		
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${LOG_HOME}/web-debug.%d{yyyy-MM-dd}.log
			</fileNamePattern>
			<!-- keep 20 days' worth of history -->
			<MaxHistory>20</MaxHistory>
		</rollingPolicy>
	</appender>

	<!-- 记录一些操作日志记录方面的信息 -->
	<appender name="info"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<File>${LOG_HOME}/web-info.log</File>
		<Append>TRUE</Append>
		<encoder>
			<pattern>%d{YYYY-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n
			</pattern>
		</encoder>
		<!-- <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>INFO</level>
		</filter> -->
		<!-- 只打印INFO -->
		<filter class="ch.qos.logback.classic.filter.LevelFilter">   
	        <level>INFO</level>   
	        <onMatch>ACCEPT</onMatch>   
	        <onMismatch>DENY</onMismatch>   
		</filter>   
		
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${LOG_HOME}/web-info.%d{yyyy-MM-dd}.log
			</fileNamePattern>
			<!-- keep 20 days' worth of history -->
			<MaxHistory>20</MaxHistory>
		</rollingPolicy>
	</appender>
	
	<!-- 错误日志 -->
	<appender name="error"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<File>${LOG_HOME}/web-error.log</File>
		<Append>TRUE</Append>
		<encoder>
			<pattern>%d{YYYY-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n
			</pattern>
		</encoder>
		<!-- 只打印WARN级别以上日志 -->
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">   
	        <level>WARN</level>   
		</filter>   
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${LOG_HOME}/web-error.%d{yyyy-MM-dd}.log
			</fileNamePattern>
			<!-- keep 20 days' worth of history -->
			<MaxHistory>20</MaxHistory>
		</rollingPolicy>
	</appender>
	
	<logger name="com.wubaoguo" level="DEBUG" additivity="true">
		<appender-ref ref="debug" />
		<appender-ref ref="info" />
	</logger>
	
	<!-- jdbc JdbcTemplate sql -->
	<logger name="org.springframework.jdbc.core" level="DEBUG" additivity="false">
		<appender-ref ref="sqllogFile" />
	</logger>

	<root level="INFO">
		<appender-ref ref="Console" />
		<appender-ref ref="error" />
	</root>
	
</configuration>