[#import "/manage/util/dash.html" as h/]
[@h.head/]
[@h.maincss /]
[@h.fooTableCss /]
[@h.body /]
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    [@h.breadcrumb navigation='{"title":"角色管理", "active":true}' title="角色管理" /]
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <input class="form-control input-sm m-b-xs" id="filter" placeholder="查询表格">
                    <a data-toggle="modal" data-l-href="${request.contextPath}/manage/resource/roleform.html"
                       data-target="#modal-rolemain-form" class="btn btn-primary btn-sm">添加</a>
                    <div id="div_table_container" url="${request.contextPath}/manage/resource/roletable"></div>
                </div>
            </div>
        </div>
    </div>
</div>
[@h.mainjs /]
[@h.fooTableScript /]
[@h.icheckScript /]
[@h.modalBox id='modal-rolemain-form' /]
[@h.formValidationScript /]
[@h.pageScript /]
[@h.ztree /]
[@h.sweetalert /]
<script>
    $(function () {
        $.get("${request.contextPath}/manage/resource/roletable", function (data) {
            $("#div_table_container").html(data);
        });
    });
</script>
</body>
</html>