<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav metismenu" id="side-menu">
            <li class="nav-header">
                <div class="dropdown profile-element">
                    <span> <img alt="image" class="img-circle" width="64" height="64"
                                src="${request.contextPath}/skin/img/default-portrait.png"/></span>
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                        <span class="clear">
                            <span class="block m-t-xs"><strong
                                    class="font-bold"> ${Session.currentUser.name}</strong></span>
                            <span class="text-muted text-xs block">快捷入口<b class="caret"></b></span>
                        </span>
                    </a>
                    <ul class="dropdown-menu animated fadeInRight m-t-xs">
                        <li><a class="J_menuItem" href="${request.contextPath}/manage/updatepwdMain">修改密码</a></li>
                        <li><a href="${request.contextPath}/manage/lockscreen">锁定屏幕</a></li>
                        <li class="divider"></li>
                        <li><a href="${request.contextPath}/manage/loginout">安全退出</a>
                        </li>
                    </ul>
                </div>
                <div class="logo-element">
                    JSB
                </div>
            </li>

            [#if menus??]
            [#list menus as m]
            <li menuGroup="${m.code}">
                [#if m.uri != 'none']
                <a class="J_menuItem" name="tabMenuItem" href="${request.contextPath}${m.uri}"><i
                        class="fa ${m.icon}"></i> <span class="nav-label">${m.menu_name}</span></a>
                [#else]
                <a href="#"><i class="fa ${m.icon}"></i> <span class="nav-label">${m.menu_name}</span> <span
                        class="fa arrow"></span></a>
                [/#if]
                [#if m.childrens??&& m.childrens?size > 0]
                <ul class="nav nav-second-level">
                    [#list m.childrens as c]
                    <li menuCode="${c.code}">
                        <a class="J_menuItem" name="tabMenuItem"
                           href="${request.contextPath}${c.uri}">${c.menu_name}</a>
                    </li>
                    [/#list]
                </ul>
                [/#if]
            </li>
            [/#list]
            [/#if]
        </ul>
    </div>
</nav>
